#inicio{
 
  background-image: linear-gradient(to right,  rgba(255, 255, 255, 0.3) 0%,  rgba(216, 216, 216, 0.3) 100%),url(../img/fondo.jpg);
  background-size: cover;
  height: 100vh;
}

.datos{
  width: 80vh;
  float: left;
  padding: 2%;
  margin: 4%;
}

.foto-inicio{
  width: 55vh;
  margin: 4% 8%;
}

.informacion{
  background-color: white;
  width: 80vh;
  float: right;
  padding: 2%;
  margin: 4%;
}
