* {
  margin: 0;
  /*El valor border-box en el box-sizing hace que el padding y el border pasen a formar parte del cálculo del ancho de la caja y no se sume posteriormente.*/
  box-sizing: border-box;
}

a {
  /*Permite establecer el ancho y alto de un elemento*/
  display: inline-block;
  /*Quitar el subrayado de los hipervinculos*/
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

header{
  /*background-color: black;*/
  /*Verticalmente 15px y horizontalmente 0px*/
  padding: 15px 0;
  /*Elemento fijo en el html*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  width: 100%;
}

header .container {
  /*Aprovecha el espacio que tenga el elemento para acomodar a sus elementos hijos
    en este caso es el elemento a y el nav*/
  display: flex;
  /*Distribuye el espacio entre los elementos flex en el eje x, distribuye los items uniformemente, el primer item al inicio, el último al final*/
  justify-content: space-between;
}

header .container .logo {
  width: 100px;
}

header .container nav a {
    color: red;
    /*Quitar el subrayado de los hipervinculos*/
    text-decoration: none;
    /* 0px verticalmente y 15px horizontalmente*/
    margin: 0 15px;
}

.container {
  width: 1024px;
  /*Verticalmente tiene 0px y horizontalmente se centrara el elemento*/
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
   /*Puede moverse con top, bottom, left, right y z-index no moviendo los otros elementos que tiene cerca,
    en su lugar se queda un contenido invisible, cuando se mueve el elemento que tiene position: relative*/
  position: relative;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
   /*Puede moverse con top, bottom, left, right y z-index no moviendo los otros elementos que tiene cerca,
    en su lugar se queda un contenido invisible, cuando se mueve el elemento que tiene position: relative*/
  position: relative;
}

#inicio {
  /*Puede moverse con top, bottom, left, right y z-index no moviendo los otros elementos que tiene cerca,
    en su lugar se queda un contenido invisible, cuando se mueve el elemento que tiene position: relative*/
  position: relative;
}

#inicio img {
  width: 100%;
  display: block;

}

#inicio .bloque-inicio {
  /*Puede moverse con top, bottom, left, right y z-index y al moverse los otros elementos ocupan el espacio
    del elemento con position: absolute*/
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  text-align: center;
  margin-left: -200px;
}

#inicio .bloque-inicio h1 {
  color: white;
  font-size: 35px;
}

#inicio .bloque-inicio p {
  color: white;
  font-size: 16px;
}

.boton {
  text-align: center;
  /*Quitar el subrayado de los hipervinculos*/
  text-decoration: none;
  /*Verticalmente tiene 15px y horizontalmente tiene 20px*/
  padding: 15px 20px;
  border: none;
}

/*Para el elemento boton-rojo que al mismo tiempo tiene la clase boton (Las 2 clases al mismo tiempo) */
.boton.boton-rojo {
  color: white;
  background-color: red;
  font-size: 20px;
  /*Es la profundidad del tipo de letra en este caso negrita*/
  font-weight: bold;
}

.seccion {
  padding-top: 60px;
  padding-bottom: 60px;
}

.cuadrado-perfecto {
  width: 100%;
  padding-bottom: 100%;
  /*Puede moverse con top, bottom, left, right y z-index no moviendo los otros elementos que tiene cerca,
    en su lugar se queda un contenido invisible, cuando se mueve el elemento que tiene position: relative*/
  position: relative;
}

.cuadrado-perfecto img {
  width: 100%;
  height: 100%;
  /*object-fit indica cómo el contenido de un elemento reemplazado, por ejemplo un <img> o <video>, debería redimensionarse para ajustarse a su contenedor.
  cover: El contenido reemplazado se dimensiona para mantener su relación de aspecto mientras llena el cuadro de contenido completo del elemento. Si la relación de aspecto del objeto no coincide con la relación de aspecto de su caja, entonces el objeto se recortará para que se ajuste
  */
  object-fit: cover;
  /*Posicion del objeto en el centro*/
  object-position: center;
  /*Puede moverse con top, bottom, left, right y z-index y al moverse los otros elementos ocupan el espacio
    del elemento con position: absolute*/
  position: absolute;
  top: 0;
  left: 0;
}

#nosotros {
  background-image: url(/img/latas.jpg);
  /*Escala la imagen al mayor tamaño posible sin estirarla. Si las proporciones de la imagen difieren de las del elemento, es recortada vertical u horizontalmente para que no quede un espacio vacío.*/
  background-size: cover;
}

#nosotros p {
  color: white;
  text-align: center;
  font-size: 16px;
}

.row {
  /*Aprovecha el espacio que tenga el elemento para acomodar a sus elementos hijos*/
  display: flex;
  /*Si una columna no entra, esa columna va hacia abajo*/
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.columna {
  padding-right: 15px;
  padding-left: 15px;
}

.columna-25 {
  width: 25%;
}

.columna-33 {
  width: 33.33%;
}

.columna-41 {
  width: 41.66%;
}
/*
.columna-50 {
  width: 50%;
}
*/
/*
.empujar-50 {
  margin-left: 50%;
}
*/
.empujar-58 {
  margin-left: 58.33%;
}
/*
.empujar-66 {
  margin-left: 66.66%;
}
*/
#servicios .bloque-servicio{
  border: 1px solid grey;
}

.bloque-img-servicio img {
  /*Se acomoda 100% al contenedor*/
 width: 100%; 
}

/*Para el elemento cuadrado-perfecto que al mismo tiempo tiene la clase bloque-img-servicio (Las 2 clases al mismo tiempo) */
.bloque-img-servicio.cuadrado-perfecto {
  padding-bottom: 56.25%;
}

.bloque-contenido-servicio {
  padding: 15px;
}

.bloque-contenido-servicio h3 {
  margin-top: 0;
  font-size: 25px;
}

/*Para el elemento boton-blanco que al mismo tiempo tiene la clase boton (Las 2 clases al mismo tiempo) */
.boton.boton-blanco {
  color: red;
  background-color: white;
  font-size: 16px;
  /*Es la profundidad del tipo de letra en este caso negrita*/
  font-weight: bold;
  border: 1px solid red;
}

#galeria h4 {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  /*Puede moverse con top, bottom, left, right y z-index y al moverse los otros elementos ocupan el espacio
    del elemento con position: absolute*/
  position: absolute;
  top: 40%;
  color: white;
  font-size: 18px;
  width: 100%;
}

#galeria img {
  /* filtro 1 es que estara blanco y negro, 0 no se aplicara ningun filtro */
  filter: grayscale(1);
}

/*hover cuando se pasa el puntero del mouse sobre el elemento*/
#galeria .cuadrado-perfecto:hover img {
  /* filtro 1 es que estara blanco y negro, 0 no se aplicara ningun filtro */
  filter: grayscale(0);
}

/*hover cuando se pasa el puntero del mouse sobre el elemento*/
#galeria .cuadrado-perfecto:hover h4 {
  /*El valor display: none le dice al navegador que no lo represente, el resultado es que el elemento queda escondido y el espacio que debería ocupar colapsado.*/
  display: none;
}

#contactenos {
  /*Puede moverse con top, bottom, left, right y z-index no moviendo los otros elementos que tiene cerca,
    en su lugar se queda un contenido invisible, cuando se mueve el elemento que tiene position: relative*/
  position: relative;
}

#contactenos iframe {
  /*Puede moverse con top, bottom, left, right y z-index y al moverse los otros elementos ocupan el espacio
    del elemento con position: absolute*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#contactenos form {
  padding: 60px;
  background-color: red;
}

#contactenos #formulario-contacto .form-block {
  width: 100%;
  margin-bottom: 15px;
}

#contactenos #formulario-contacto .form-block .form-control {
  /*display: block hace que el comportamiento del elemento sea como un bloque.*/
  display: block;
  height: 40px;
  font-size: 16px;
  /*border: 1px solid grey;*/
  width: 100%;
  padding: 5px 10px;
}

#contactenos #formulario-contacto .form-block textarea {
  /*display: block hace que el comportamiento del elemento sea como un bloque.*/
  display: block;
  height: 100px;
  font-size: 16px;
  border: 1px solid grey;
  width: 100%;
  padding: 5px 10px;
  /*No se puede redimensionar el textarea*/
  resize: none;
}

#contactenos #formulario-contacto .form-block.bloque-ultimo {
  margin-bottom: 0;
}

/*Para el elemento boton-negro que al mismo tiempo tiene la clase boton (Las 2 clases al mismo tiempo) */
.boton.boton-negro {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/*hover cuando se pasa el puntero del mouse sobre el elemento*/
.boton.boton-negro:hover {
  background-color: white;
  color: black;
}




/*Validacion de formulario*/

.formulario-input-error {
  font-size: 12px;
  margin-bottom: 0;
  color: black;
  /*El resultado es que el elemento queda escondido y el espacio que debería ocupar colapsado*/
  display: none;
}

.formulario-input-error-activo {
  /*Se muestra como un bloque*/
  display: block;
}

.formulario-mensaje-exito {
  font-size: 14px;
  color: white;
  /*El resultado es que el elemento queda escondido y el espacio que debería ocupar colapsado*/
  display: none;
}

.formulario-mensaje-exito-activo {
  /*Se muestra como un bloque*/
  display: block;
}

.form-control-error {
  border: 3px solid orange;
  
}

/*El tamaño de una tablet es 768px*/
/*El tamaño de un smartphone es 320px*/
@media(max-width: 768px) {

  body {
    font-size: 15px;
  }

  header .container nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 15px;
    padding-left: 15px;
    top:0;
    left: 0;
    /*Aprovecha el espacio que tenga el elemento para acomodar a sus elementos hijos
    en este caso es el elemento a y el nav*/
    display: flex;
    /*Convierte las filas en columnas*/
    flex-direction: column;
    /*Cualquier propiedad que se modifique va a ocurrir la transicion*/
    transition: all 0.4s ease;
    /*Trasladar al eje x*/
    transform: translateX(100%);
  }

  header .container nav.open {
    /* Se muestra el menu */
    transform: translateX(0) !important;
    
  }

  header .container nav a {
    font-size: 30px;
    margin: 15px;
  }



  /*Solo se ve para moviles*/
  header .container .hamb {
    display: block;
    font-size: 40px;
    color: red;
    position: relative;
  }

  form .boton.boton-negro {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  footer .logo-footer {
    width: 50%;
  }

  footer .redes {
    /*Convierte las filas en columnas*/
    flex-direction: column;
  }

  .container {
    width: 100%;
  }

  .columna-mobile-100 {
    width: 100%;
  }

  .columna-mobile-50 {
    width: 50%;
  }

  .empujar-mobile-0 {
    margin-left: 0;
  }

  .sinpadding-mobile {
    padding: 0;
  }

  #inicio {
    height: 120vw;
  }

  #inicio img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  #servicios .bloque-servicio {
    margin-bottom: 15px;
  }

  #contactenos {
    padding: 0;
  }

  #contactenos iframe {
    /*Puede moverse con top, bottom, left, right y z-index no moviendo los otros elementos que tiene cerca,
    en su lugar se queda un contenido invisible, cuando se mueve el elemento que tiene position: relative*/
  position: relative;
  height: 50vw;
  }
}